/* Downloads.css */

#downloads {
    display: flex;
    grid-template-columns: repeat(2, 150%);
    text-align: center;
    align-items: baseline;
}
#downloads-installer, #downloads-client {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    border-radius: 10px;
}
#downloads-installer:hover, #downloads-client:hover {
    transition: background-color 0.25s;
    background-color: #45a04980;
    
}
#downloads-installer {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    padding: 20px;
}

#downloads-client {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    padding: 20px;
    grid-area: span;
}

.version-container {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: border-color 0.25s, border-radius 0.25s;
}

.version-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.version-container li {
    list-style-type: none;
}

.version-container:hover {
    border-radius: 10px;
    border-color: transparent;
}

.version-container:focus,
.version-container:hover {
    outline: 0px auto -webkit-focus-ring-color;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

span {
    font-weight: bold;
}

#downloads button:hover {
    border-color: #45a049;
}